@import '../../theme/colors.css';

.rightContentWrapper{
    flex: 5;
    background: $colorWhite;
    padding: 15px;
}
.rightContentWrapper .smallScreenViewAndContinue{
    display: none;
}

@media only screen and (max-width : 767px) {
    .rightContentWrapper .topContentWrapper{
        display: none;
    }
    .rightContentWrapper .smallScreenViewAndContinue{
        display: flex;
        justify-content: flex-end;
    }
}

