@import '../../theme/colors.css';

.leftSideBar{
    flex: 1;
    color: $colorBlue;
}

.leftSideBar .priceHolder{
    display: flex;
    align-items: baseline;
    font-weight: bold;
    font-size: 14px;
    justify-content: flex-end;
}
.leftSideBar .priceHolder .amount{
    font-size: 28px;
    margin: 20px 10px 0 5px;
}

@media only screen and (max-width : 991px) {
    .leftSideBar .priceHolder{
        margin-bottom: 15px;
    }
    .leftSideBar{
        flex: none;
    }
}


