@import '../../theme/colors.css';

.bottomDataHolder .heading{
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    background: $colorDarkGrey;
    color: $colorWhite;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cardDetailWrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    z-index: 999;
    overflow-y: scroll;
    transition: height 0.5s ease;
    /* background: rgba(0,0,0,0.7); */
}
.cardDetailWrapper.visible{
    height: 100%;
}
.cardDetailWrapper .cardContentHolder{
    background: $colorWhite;
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cardDetailWrapper .backButtonHolder{
    display: none;
}
.cardDetailWrapper.visible .backButtonHolder{
    display: block;
}

.enter {
    opacity: 0;
    transform:   translate(0,200px);
    transform: translate3d(0,200px,0);
}
  
.enterActive {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 400ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leave {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
    transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveActive {
    opacity: 0;
	transform:   translate(0,200px);
	transform: translate3d(0,200px,0);
}

.enterCalendar {
    opacity: 0;
    transform:   translate(0,100px);
    transform: translate3d(0,100px,0);
}
  
.enterActiveCalendar {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveCalendar {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
    transition-property: transform, opacity;
	transition-duration: 100ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveActiveCalendar {
    opacity: 0;
	transform:   translate(0,100px);
	transform: translate3d(0,100px,0);
}