.cardImageWrapper{
	/* width: calc(100vw - 30px); */
	height: calc(100vh - 210px);
	position: relative;
	/* margin: 0 15px; */
}
.moinak{
	position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.headingWrapper{
	height: 70px;
	overflow: hidden;
}
.headingWrapper.fixed{
	z-index: 9999;
    background: white;
    position: relative;
}

/* IMAGE CAROUSEL CSS */
.enter {
    opacity: 0;
    transform:   translate(calc(50px - 80vw),0);
    transform: translate3d(calc(50px - 80vw),0,0);
}
  
.enterActive {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leave {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
    transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveActive {
    opacity: 0;
	transform:   translate(calc(50px - 80vw),0);
	transform: translate3d(calc(50px - 80vw),0,0);
}

/* HEADING PART CSS */
.enterHeading {
    opacity: 0;
    transform:   translate(0,100px);
    transform: translate3d(0,100px,0);
}
  
.enterActiveHeading {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveHeading {
    opacity: 0.5;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
    transition-property: transform, opacity;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveActiveHeading {
    opacity: 0;
	transform:   translate(0,-100px);
	transform: translate3d(0,-100px,0);
}


/* HEADING PART CSS - INVERTED */
.enterHeadingInverted {
    opacity: 0;
    transform:   translate(0,-100px);
    transform: translate3d(0,-100px,0);
}
  
.enterActiveHeadingInverted {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveHeadingInverted {
    opacity: 0;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
    transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease-in;
}

.leaveActiveHeadingInverted {
    opacity: 0;
	transform:   translate(0,100px);
	transform: translate3d(0,100px,0);
}

/* */