$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDarkGrey: #6b6b6b;
$colorLightGrey: #e6e6e6;
$colorMediumGrey: #4e4e4e;
$colorLightGrey2: #f6f6f6;
$colorOrange: #d78432;
$colorBlue: #1a3859;
$colorLightBlue: #25729a;
$colorLightBlueHover: #26759e;
$colorLightBlueBorder: #1c5675;