@import '../../theme/colors.css';

.flightRunningInfoWrapper{
    margin-top: 50px;
}
.flightRunningInfoWrapper .travelTimeHeading{
    display: flex;
    align-items: flex-end;
}

.flightRunningInfoWrapper .individualFlightInfo{
    display: flex;
    padding: 5px;
    color: $colorDarkGrey;
}

.flightRunningInfoWrapper .individualFlightInfo .date{
    color: $colorBlack;
    font-weight: bold;
}
.flightRunningInfoWrapper .individualFlightInfo .flightDuration{
    display: flex;
    align-items: center;
}
.flightRunningInfoWrapper .individualFlightInfo .flightDuration .iconHolder{
    color: $colorOrange;
    margin-right: 5px;
}

@media only screen and (min-width : 768px) {
    .flightRunningInfoWrapper .individualFlightInfo > div.date{
        flex: 1 1 100px;
    }
    .flightRunningInfoWrapper .individualFlightInfo > div.flightPath{
        flex: 3 3 300px;
    }
    .flightRunningInfoWrapper .individualFlightInfo > div.departureTime{
        flex: 2 2 200px;
    }
    .flightRunningInfoWrapper .individualFlightInfo > div.flightDuration{
        flex: 1 1 100px;
    }
    .airlineNameLogo{
        display: none;
    }
}

@media only screen and (max-width : 767px) {
    .flightRunningInfoWrapper{
        margin-top: 0px;
    }
    .flightRunningInfoWrapper .individualFlightInfo{
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(0,0,0,.16);
        margin-bottom: 10px;
        border: 1px solid $colorLightGrey;
    }
    .airlineNameLogo{
        display: flex;
        margin-bottom: 10px;
    }
    .flightRunningInfoWrapper .individualFlightInfo .flightPath{
        font-size: 22px;
    }
    .flightRunningInfoWrapper .individualFlightInfo .departureTime, .flightRunningInfoWrapper .individualFlightInfo .flightDuration{
        font-size: 14px;
    }
}